

<h1>{{title}}</h1>

  <!-- <ul>
    <li *ngFor="let item of allDate; let i=index">
      {{i}}---{{item}}
    </li>
  </ul> -->



<div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">排序</th>
            <th scope="col">編號</th>
            <th scope="col">數量</th>
            <th scope="col">區域</th>
            <!-- <th nzColumnKey="gender" [nzFilters]="filterGender" [nzFilterFn]="true">區域</th> -->
            <th scope="col">時間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{allDate[0].sna}}</td>
            <td>{{allDate[0].tot}}</td>
            <td>{{allDate[0].sarea}}</td>
            <td>{{allDate[0].mday}}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>{{allDate[1].sna}}</td>
            <td>{{allDate[1].tot}}</td>
            <td>{{allDate[1].sarea}}</td>
            <td>{{allDate[1].mday}}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>{{allDate[2].sna}}</td>
            <td>{{allDate[2].tot}}</td>
            <td>{{allDate[2].sarea}}</td>
            <td>{{allDate[2].mday}}</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>{{allDate[3].sna}}</td>
            <td>{{allDate[3].tot}}</td>
            <td>{{allDate[3].sarea}}</td>
            <td>{{allDate[3].mday}}</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>{{allDate[4].sna}}</td>
            <td>{{allDate[4].tot}}</td>
            <td>{{allDate[4].sarea}}</td>
            <td>{{allDate[4].mday}}</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>{{allDate[5].sna}}</td>
            <td>{{allDate[5].tot}}</td>
            <td>{{allDate[5].sarea}}</td>
            <td>{{allDate[5].mday}}</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>{{allDate[6].sna}}</td>
            <td>{{allDate[6].tot}}</td>
            <td>{{allDate[6].sarea}}</td>
            <td>{{allDate[6].mday}}</td>
          </tr>
        </tbody>
      </table>
</div>


